    * {
        overflow-x: hidden;
    }
    
    #page-landing {
        width: 100%;
    }
    
    #background-middle {
        background-image: linear-gradient(to bottom right, #178ac7, #07F64D);
        position: absolute;
        top: 100%;
        margin: 20% 0;
        z-index: -1;
        width: 100%;
        padding: 8% 20px;
        /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
        -webkit-transform: skewY(40deg);
        -moz-transform: skewY(40deg);
        -ms-transform: skewY(40deg);
        -o-transform: skewY(40deg);
        transform: skewY(40deg);
    }
    
    #landing {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #logo {
        margin: 1.7rem 0 0 2rem;
        align-self: start;
        flex: 1 100%;
    }
    
    #logo>img {
        width: 80px;
    }
    
    #landing-phrase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: visible;
        flex: 1 100%;
    }
    
    #create {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
    }
    
    #everything {
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 3.4rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
        justify-content: center;
    }
    
    #portfolio-phone-1 {
        text-align: center;
        overflow-x: visible;
        position: absolute;
        width: 100%;
        top: 23.6%;
    }
    
    #portfolio-phone-1>img {
        width: 630px;
    }
    
    #social-background {
        background-image: linear-gradient(to bottom left, #178ac7, #07F64D);
        border-radius: 25px;
        position: absolute;
        width: 300px;
        top: 80%;
        left: 92%;
        z-index: -1;
        padding: 7% 20px;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    
    #white-social-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1 1 20%;
        margin-top: 21.5rem;
        align-items: flex-end;
        z-index: 0;
    }
    
    .social-link {
        display: flex;
    }
    
    .social-link>img {
        width: 18px;
        height: 18px;
        margin: 0.35rem 1.3rem;
    }
    
    .social-link>p {
        color: #000;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }
    
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    .topic {
        margin: 5rem 2.5rem 2rem 2.5rem;
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .title {
        flex: 1 1 100%;
        font-size: 2.5rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
    }
    
    .topic-content {
        flex: 1 1 100%;
        display: flex;
    }
    
    #portfolio-phone-2 {
        flex: 1 1 50%;
        overflow: visible;
    }
    
    #portfolio-phone-2>img {
        width: 450px;
        margin-top: 5rem;
        margin-left: 3rem;
    }
    
    #knowledge {
        flex: 1 1 50%;
    }
    
    #knowledge-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #knowledge-titles>span {
        font-size: 2rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
    }
    
    #knowledge-skills {
        display: flex;
        flex-wrap: wrap;
        margin: 5rem 0;
    }
    
    #knowledge-skills>p {
        flex: 1 1 33%;
        font-size: 1.5rem;
        text-align: center;
        color: #707070;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #707070;
    }
    
    #knowledge-skills>p:hover {
        color: #404040;
        transition: 0.3s;
    }
    
    .topic-header {
        display: flex;
        flex: 100%;
    }
    
    #interactive-buttons {
        display: flex;
    }
    
    .arrow-button>img {
        width: 60px;
        margin: 0 0.5rem;
    }
    
    .card {
        padding: 1rem;
    }
    
    .card-body {
        background-color: #F3F3F3;
        border-radius: 30px;
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-picture {
        background: #FFF;
        border-radius: 30px;
        width: 94%;
        height: 84%;
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
        margin-top: 3%;
    }
    
    .card-content {
        display: flex;
        width: 94%;
    }
    
    .card-tecnologies {
        display: flex;
        flex: 50%;
        padding: 0.3rem 1rem 0.3rem 0;
    }
    
    .tech-dot {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        align-self: center;
        margin-left: 1rem;
    }
    
    .tech-name {
        font-size: 9pt;
        margin-left: 0.3rem;
    }
    
    .tech-name>p {
        color: #707070;
    }
    
    .card-link {
        flex: 50%;
        text-align: right;
        padding: 0.3rem 0.5rem 0 0;
    }
    
    .card-link>a>img {
        height: 40px;
    }
    
    .card-info {
        margin: 0 0.5rem;
        display: flex;
    }
    
    .card-title {
        flex: 50%;
    }
    
    .card-title>p {
        color: #707070;
    }
    
    .card-button {
        flex: 50%;
        align-self: center;
        text-align: end;
    }
    
    .card-button>a>img {
        height: 45px;
    }
    
    #contact-title {
        text-align: end;
    }
    
    #portfolio-phone-3 {
        flex: 1 1 50%;
        overflow: visible;
        position: absolute;
        left: 15%;
    }
    
    #portfolio-phone-3>img {
        width: 700px;
        margin-bottom: 3rem;
    }
    
    #black-social-links {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        flex: 50%;
    }
    
    #black-social-links>a {
        align-items: center;
        margin: 0.5rem 0;
    }
    
    #black-social-links>a>p {
        font-weight: bold;
        padding-right: 0.1rem;
        margin: 0;
    }
    
    #black-social-links>a>img {
        margin: 0 0.5rem;
    }
    
    .contact-text {
        display: flex;
        flex-direction: column;
        flex: 50%;
        margin-top: 2rem;
    }
    
    #contact-textarea {
        resize: none;
        border: #F3F3F3;
        border-radius: 15px;
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
        margin: 1rem;
        padding: 0.8rem;
    }
    
    #contact-email {
        border: #F3F3F3;
        border-radius: 10px;
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
        margin: 1rem;
        padding: 0.8rem;
    }
    
    .contact-submit {
        text-align: center;
    }
    
    .contact-submit>img {
        height: 50px;
    }
    
    @media (min-width: 1600px) {
        #logo {
            margin: 2.5rem 0 0 3rem;
        }
        #logo>img {
            width: 88px;
        }
        #create {
            font-size: 2rem;
        }
        #everything {
            font-size: 5rem;
        }
        #portfolio-phone-1>img {
            width: 1000px;
        }
        #social-background {
            width: 300px;
            border-radius: 35px;
            top: 74%;
            left: 93%;
            padding: 7.5% 20px;
        }
        #white-social-links {
            margin-top: 31.5rem;
        }
        .social-link>img {
            width: 22px;
            height: 22px;
            margin: 0.6rem 2rem;
        }
        #title {
            font-size: 3.5rem;
        }
        #portfolio-phone-2 {
            flex: 1 1 50%;
            overflow: visible;
        }
        #portfolio-phone-2>img {
            width: 700px;
            margin-top: 6rem;
        }
        #knowledge-titles>span {
            font-size: 3rem;
        }
        #knowledge-skills {
            margin: 8rem 0;
        }
        #knowledge-skills>p {
            font-size: 2rem;
        }
        .arrow-button>img {
            width: 70px;
            margin: 0 1rem;
        }
        #black-social-link>a>img {
            margin-top: 0.9;
        }
        .card-body {
            background-color: #F3F3F3;
            border-radius: 30px;
            box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
            height: 400px;
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card-picture {
            background: #FFF;
            border-radius: 30px;
            width: 94%;
            height: 84%;
            box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
            margin-top: 3%;
        }
        .card-content {
            display: flex;
            width: 94%;
        }
        .card-tecnologies {
            display: flex;
            flex: 50%;
            padding: 0.3rem 1rem 0.3rem 0;
        }
        .tech-dot {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-self: center;
            margin-left: 1rem;
        }
        .tech-name {
            font-size: 9pt;
            margin-left: 0.3rem;
        }
        .tech-name>p {
            color: #707070;
        }
        .card-link {
            flex: 50%;
        }
        .card-info {
            margin: 0 0.5rem;
        }
        .card-title>p {
            color: #707070;
        }
        .card-link {
            text-align: right;
            padding: 0.3rem 0.5rem 0 0;
        }
        .card-link>a>img {
            height: 40px;
        }
    }