* {
    overflow-x: hidden;
}

#page-landing {
    width: 100%;
}

#background-middle {
    background-image: linear-gradient(to bottom right, #178ac7, #07F64D);
    position: absolute;
    top: 90%;
    margin: 15% 0;
    z-index: -1;
    width: 100%;
    padding: 8% 20px;
    /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
    -webkit-transform: skewY(35deg);
    -moz-transform: skewY(35deg);
    -ms-transform: skewY(35deg);
    -o-transform: skewY(35deg);
    transform: skewY(35deg);
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content>div {
    width: 33%;
    flex: 1 1 20%;
}

#logo {
    margin: 1.7rem 0 0 2rem;
    align-self: start;
    flex: 1 100%;
}

#logo>img {
    width: 80px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    flex: 1 100%;
}

#create {
    font-size: 1.8rem;
}

#everything {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    justify-content: center;
}

#portfolio-phone-1 {
    margin: 0 auto;
    flex-grow: 3;
    text-align: center;
    flex: 1 1 60%;
    overflow-x: visible;
}

#portfolio-phone-1>img {
    width: 700px;
}

#social-background {
    width: 300px;
    top: 65%;
    left: 91%;
    position: absolute;
    z-index: -1;
}

#social-links {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    flex-wrap: wrap;
    margin-top: 17.6rem;
    align-items: flex-end;
}

.social-link-img {
    width: 20px;
    margin: 0.45rem 1rem;
}

@media (min-width: 1600px) {
    #page-landing {
        width: 100%;
    }
    #background-middle {
        position: absolute;
        margin: 15% 0;
        z-index: -1;
        width: 100%;
    }
    #logo {
        margin: 2.5rem 0 0 3rem;
        align-self: start;
    }
    #logo>img {
        width: 88px;
    }
    #create {
        font-size: 1.8rem;
    }
    #everything {
        font-size: 4.68rem;
    }
    #portfolio-phone-1>img {
        width: 900px;
    }
    #social-background {
        width: 400px;
        top: 70vh;
        left: 91%;
    }
    #social-links {
        display: flex;
        flex-direction: column;
        flex: 1 1 20%;
        flex-wrap: wrap;
        margin-top: 56vh;
        align-items: flex-end;
    }
    .social-link-img {
        width: 22px;
    }
}