* {
    overflow-x: hidden;
}

#page-landing {
    width: 100vw;
}

#background-middle {
    position: absolute;
    margin: 45vh 0;
    z-index: -1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content>div {
    width: 33vw;
    flex: 1 1 20%;
}

#logo {
    margin: 1.7rem 0 0 2rem;
    align-self: start;
    flex: 1 100%;
}

#logo>img {
    width: 80px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    flex: 1 100%;
}

#create {
    font-size: 2rem;
}

#everything {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    justify-content: center;
}

#portfolio-phone-1 {
    margin: 0 auto;
    flex-grow: 3;
    text-align: center;
    flex: 1 1 60%;
    overflow-x: visible;
}

#portfolio-phone-1>img {
    width: 900px;
}

#social-background {
    width: 400px;
    right: 0;
    top: 60%;
    left: 89%;
    position: absolute;
    z-index: -1;
}

#social-links {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    flex-wrap: wrap;
    margin-top: 6rem;
    align-items: flex-end;
}

.social-link-img {
    width: 25px;
    margin: 0.4rem 3rem;
}

@media (min-width: 1600px) {
    #logo {
        margin: 2.5rem 0 0 3rem;
        align-self: start;
    }
    #logo>img {
        width: 88px;
    }
    #create {
        font-size: 2.65rem;
    }
    #everything {
        font-size: 6.68rem;
    }
    #portfolio-phone-1>img {
        width: 1234px;
    }
}