    * {
        overflow-x: hidden;
    }
    
    #page-project {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    
    #background-middle-right {
        background-image: linear-gradient(to right, #178ac7, #07F66FFF);
        top: 0;
        position: absolute;
        margin: 0;
        z-index: -1;
        width: 30%;
        padding: 6% 20px;
        /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
        -webkit-transform: skewY(315deg);
        -moz-transform: skewY(315deg);
        -ms-transform: skewY(315deg);
        -o-transform: skewY(315deg);
        transform: skewY(315deg);
    }
    
    #project {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #logo {
        margin: 1.7rem 0 0 2rem;
        align-self: start;
        flex: 1 100%;
    }
    
    #logo>img {
        width: 80px;
    }

    #header-phrase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: visible;
        flex: 1 100%;
    }

    #header-logo-back {
        display: flex;
        width: 100vw;
    }

    #back-home {
        padding: 2.7rem 4rem 0 0;
        white-space: nowrap;
    }

    #back-home > img {
        vertical-align: top;
        padding: 0 0.7rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    #back-home > b {
        color: #212121
    }
    
    #create {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
    }
    
    #everything {
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 3.4rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
        justify-content: center;
    }

    .project {
        display: flex;
        margin: 7rem 4rem;
    }

    .image {
        border-radius: 5%;
        margin: 0 0 2rem 1rem ;
        box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.32);
    }

    .image > img {
        width: 40vw;
        display: table-header-group;
    }

    #content {
        margin: 0 0 0 3rem;
        display: flex;
        flex-direction: column;
    }

    .project-title > p{
        font-weight: bolder;
        margin: 0;
        font-size: 25pt;
    }

    .project-description{
        margin: 1rem 0;
        width: 55vw;
        flex-grow: 2;
    }

    .project-description > p{
        margin: 0;
        font-size: 12pt;
        color: #3A3A3A;
    }

    .project-info {
        display: flex;
        margin-bottom: 1rem;
    }

    .project-tecnologies {
        display: flex;
        flex: 50%;
        padding: 0.3rem 1rem 0.3rem 0;
    }

    .tech-dot {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        align-self: center;
        margin-left: 1rem;
    }

    .tech-name {
        font-size: 9pt;
        margin-left: 0.3rem;
        align-self: center;
    }

    .tech-name>p {
        color: #707070;
    }

    .project-link {
        flex: 50%;
        text-align: right;
        padding: 0 0.5rem 0.3rem 0;
    }

    .project-link>a>img {
        height: 50px;
    }
    
    .tech-dot {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        align-self: center;
        margin-left: 1rem;
    }
    
    .tech-name {
        font-size: 9pt;
        margin-left: 0.3rem;
    }
    
    .tech-name>p {
        color: #707070;
    }

    #background-bottom-container-right {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 10%;
        overflow-y: hidden;
        height: 90%;
        z-index: -1;
    }
    
    #background-bottom-right {
        background-image: linear-gradient(to right, #178ac7, #07F64D);
        margin: 20% 0;
        padding: 8% 20px;
        /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
        -webkit-transform: skewY(315deg);
        -moz-transform: skewY(315deg);
        -ms-transform: skewY(315deg);
        -o-transform: skewY(315deg);
        transform: skewY(315deg) skewX(0deg);
    }
    
    @media (min-width: 1600px) {
        #logo {
            margin: 2.5rem 0 0 3rem;
        }
        #logo>img {
            width: 88px;
        }
        #create {
            font-size: 2rem;
        }
        #everything {
            font-size: 5rem;
        }
        #portfolio-phone-1>img {
            width: 1000px;
        }
        #social-background {
            width: 300px;
            border-radius: 35px;
            top: 74%;
            left: 93%;
            padding: 7.5% 20px;
        }
        #white-social-links {
            margin-top: 31.5rem;
        }
        .social-link>img {
            width: 22px;
            height: 22px;
            margin: 0.6rem 2rem;
        }
        #title {
            font-size: 3.5rem;
        }
        #portfolio-phone-2 {
            flex: 1 1 50%;
            overflow: visible;
        }
        #portfolio-phone-2>img {
            width: 700px;
            margin-top: 6rem;
        }
        #knowledge-titles>span {
            font-size: 3rem;
        }
        #knowledge-skills {
            margin: 8rem 0;
        }
        #knowledge-skills>p {
            font-size: 2rem;
        }
        .arrow-button>img {
            width: 70px;
            margin: 0 1rem;
        }
        #black-social-link>a>img {
            margin-top: 0.9;
        }
        .card-body {
            background-color: #F3F3F3;
            border-radius: 30px;
            box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
            height: 400px;
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card-picture {
            background: #FFF;
            border-radius: 30px;
            width: 94%;
            height: 84%;
            box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.166);
            margin-top: 3%;
        }
        .card-content {
            display: flex;
            width: 94%;
        }
        .card-technologies {
            display: flex;
            flex: 50%;
            padding: 0.3rem 1rem 0.3rem 0;
        }
        .tech-dot {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-self: center;
            margin-left: 1rem;
        }
        .tech-name {
            font-size: 9pt;
            margin-left: 0.3rem;
        }
        .tech-name>p {
            color: #707070;
        }
        .card-link {
            flex: 50%;
        }
        .card-info {
            margin: 0 0.5rem;
        }
        .card-title>p {
            color: #707070;
        }
        .card-link {
            text-align: right;
            padding: 0.3rem 0.5rem 0 0;
        }
        .card-link>a>img {
            height: 40px;
        }
    }